<template>
  <div class="wrapper">
    <div class="time-table" ref="timeTable">
      <div
        v-for="lineId in 6"
        :key="`time-line-${lineId}`"
        class="time-line"
      >
        <div
          v-for="cellId in 24"
          :key="`time-line-${lineId}-time-cell-${cellId}`"
          :draggable="cellItems[lineId][cellId] !== null"
          @dragstart="onDragStart($event, cellItems[lineId][cellId], cellId)"
          @dragenter="onDragEnter(lineId, cellId)"
          @dragover.prevent=""
          @drop="onDrop(lineId, cellId)"
          class="time-cell"
          :class="{'time-cell-reserved': cellItems[lineId][cellId] !== null, 'time-cell-ghost': ghostCellItems[lineId][cellId] !== null, 'time-cell-conflicted': conflictedCellItems[lineId][cellId] !== null}"
        >
          {{cellItems[lineId][cellId]}}&nbsp;
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tansferedData: {},
      ghost: {},
      reservations: [
        { id: 0, lineId: 3, cellIds: [3] },
        { id: 1, lineId: 3, cellIds: [4] },
        { id: 2, lineId: 3, cellIds: [5] },
        { id: 3, lineId: 4, cellIds: [5, 6, 7] }
      ]
    };
  },
  computed: {
    cellItems() {
      const cellItems = {};

      for (let i = 1; i < 7; i++) {
        cellItems[i] = {};
        for (let j = 1; j < 25; j++) {
          cellItems[i][j] = null;
        }
      }

      for (const reservation of this.reservations) {
        for (const cellId of reservation.cellIds) {
          cellItems[reservation.lineId][cellId] = reservation.id;
        }
      }

      return cellItems;
    },
    ghostCellItems() {
      const cellItems = {};

      for (let i = 1; i < 7; i++) {
        cellItems[i] = {};
        for (let j = 1; j < 25; j++) {
          cellItems[i][j] = null;
        }
      }

      for (const ghostCellId of this.ghost.cellIds) {
        cellItems[this.ghost.lineId][ghostCellId] = true;
      }

      return cellItems;
    },
    conflictedCellItems() {
      const cellItems = {};

      for (let i = 1; i < 7; i++) {
        cellItems[i] = {};
        for (let j = 1; j < 25; j++) {
          if (
            this.tansferedData.reservationId !== this.cellItems[i][j] &&
            this.cellItems[i][j] !== null &&
            this.ghostCellItems[i][j] !== null
          ) {
            cellItems[i][j] = true;
          } else {
            cellItems[i][j] = null;
          }
        }
      }

      return cellItems;
    },
    hasConflict() {
      return this.ghost.cellIds.some(ghostCellId => {
        return this.reservations.some(reservation => {
          return (
            this.tansferedData.reservationId !== reservation.id &&
            reservation.lineId === this.ghost.lineId &&
            reservation.cellIds.some(cellId => {
              return cellId === ghostCellId;
            })
          );
        });
      });
    }
  },
  methods: {
    resetTransferedData() {
      this.tansferedData = {
        reservationId: null,
        cellRange: [0]
      };
    },
    resetGhost() {
      this.ghost = {
        lineId: null,
        cellIds: []
      };
    },
    findReservation(reservationId) {
      return this.reservations.find(
        reservation => reservation.id === reservationId
      );
    },
    findReservationIndex(reservationId) {
      return this.reservations.findIndex(
        reservation => reservation.id === reservationId
      );
    },
    onDragStart($event, reservationId, cellId) {
      $event.dataTransfer.effectAllowed = "move";
      const reservation = this.findReservation(reservationId);

      const cellRange = reservation.cellIds.map(reservationCellId => {
        return reservationCellId - cellId;
      });

      this.tansferedData = {
        reservationId,
        cellRange
      };
    },
    onDragEnter(lineId, cellId) {
      const cellIds = this.tansferedData.cellRange.map(distance => {
        return cellId + distance;
      });

      this.ghost = {
        lineId,
        cellIds
      };
    },
    onDrop(lineId, cellId) {
      if (this.hasConflict) {
        this.resetTransferedData();
        this.resetGhost();
        return;
      }

      const updateReservationIndex = this.findReservationIndex(
        this.tansferedData.reservationId
      );
      const cellIds = this.tansferedData.cellRange.map(distance => {
        return cellId + distance;
      });

      this.reservations = [
        ...this.reservations.slice(0, updateReservationIndex),
        {
          id: this.reservations[updateReservationIndex].id,
          lineId,
          cellIds: cellIds
        },
        ...this.reservations.slice(updateReservationIndex + 1)
      ];

      this.resetTransferedData();
      this.resetGhost();
    }
  },
  created() {
    this.resetTransferedData();
    this.resetGhost();
  }
};
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.time-table {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.time-line {
  display: flex;
}

.time-cell {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  width: 5em;
  padding: 0.5em 1em;
}

.time-cell-reserved {
  background: aliceblue;
  cursor: move;
}

.time-cell-ghost {
  background: ghostwhite;
}

.time-cell-conflicted {
  background: lightcoral;
}

.time-cell-reserved:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.1);
}
</style>
