<template>
  <div>
    Table
  </div>
</template>

<script>
export default {
  data() {
    return {
      reservations: [
        { id: 0, cellIds: [3] },
        { id: 1, cellIds: [4] },
        { id: 2, cellIds: [5] },
        { id: 3, cellIds: [5, 6, 7] },
        { id: 4, cellIds: [4, 5] },
        { id: 5, cellIds: [7] }
      ]
    };
  },
  computed: {
    table() {
      const buildTableRecursive = (table, schedules, { tableLineLength }) => {
        const newTableLine = new Array(tableLineLength).fill(null);
        table.push(newTableLine);
        const lastTableLineIndex = table.length - 1;
        const restSchedules = [];
        if (schedules.length > 0) {
          for (const schedule of schedules) {
            if (
              schedule.cellIds.every(
                cellId => table[lastTableLineIndex][cellId] === null
              )
            ) {
              for (const cellId of schedule.cellIds) {
                table[lastTableLineIndex][cellId] = schedule.id;
              }
            } else {
              restSchedules.push(schedule);
            }
          }
          buildTableRecursive(table, restSchedules, { tableLineLength });
        }
      };

      const table = [];

      buildTableRecursive(table, this.reservations, { tableLineLength: 12 });

      return table;
    }
  }
};
</script>

<style scoped>
* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  max-width: 100%;
  overflow: auto;
}

.time-table {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.time-line {
  display: flex;
}

.time-cell {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  width: 5em;
  padding: 0.5em 1em;
}

.time-cell-reserved {
  background: aliceblue;
  cursor: move;
}

.time-cell-ghost {
  background: ghostwhite;
}

.time-cell-conflicted {
  background: lightcoral;
}

.time-cell-reserved:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.1);
}
</style>
